<div class="omv-about-page">
  <mat-card class="omv-cursor-amiga13-select omv-cursor-amiga13-link">
    <div class="titlebar omv-display-flex omv-flex-row">
      <div class="title">{{ 'About' | transloco }}</div>
      <div class="mid omv-flex-grow-1"></div>
      <div class="mid-end"></div>
      <div class="position"></div>
    </div>
    <mat-card-content>
      <div class="logo omv-text-monospace omv-display-flex omv-flex-column">
        <pre class="ascii-art">
                                               .__.__                         .__   __
  ____ ______   ____   ____   _____   ____   __| _|_______ ___  ______   __ __|  |_/  |_
 /  _ \\____ \_/ __ \ /    \ /     \_/ __ \ / __ ||  \__  \\  \/ \__  \ |  |  |  |\   __\
(  &lt;_&gt; |  |_&gt; \  ___/|   |  |  Y Y  \  ___// /_/ ||  |/ __ \\   / / __ \|  |  |  |_|  |
 \____/|   __/ \___  |___|  |__|_|  /\___  \____ ||__(____  /\_/ (____  |____/|____|__|
       |__|        \/     \/      \/     \/     \/        \/          \/
        </pre>
        <div class="side-scroller omv-display-flex omv-flex-row">
          <div class="text omv-flex-1">
            gREETINGS gO tO [Edith] ♦ [Räuberweg] ♦ [B69] ♦ [Chris] ♦ [lENNY dEE] ♦ [iCARUS] ♦ [lUCAS] ♦ [sHALLOW] ♦ [lUCKY] ♦ [gREMLIN] ♦ [bLACKY] ♦ [-jOE cOOL!] ♦ [tHALER] ♦ [nEUROdANCER] ♦ [iNTERCODE] ♦ [sUNSET] ♦ [E.F.A.] ♦ [sISKO] ♦ [bBC] ♦ [bILBO bAGGINS] ♦ ] jOKER [ ♦ [wENDIGO] ♦ [bRAINDEAD] ♦ [ryecoaaron] ♦ [Adoby] ♦ [Agricola] ♦ [crashtest] ♦ [geaves] ♦ [KM0201] ♦ [macom] ♦ [davidh2k] ♦ [donh] ♦ [jhmiller] ♦ [SerErris] ♦ [Solo0815] ♦ [Spy Alelo] ♦ [subzero79] ♦ [tekkb] ♦ [WastlJ] ... sORRY tO aLL i hAVE fORGOTTEN ...
          </div>
        </div>
      </div>
      &nbsp;
      <div>
        <a href="https://en.wikipedia.org/wiki/OpenMediaVault">openmediavault</a> is Copyright © 2009-2025 by <a href="https://github.com/votdev">Volker Theile</a> (volker.theile@openmediavault.org).
      </div>
      <div>
        All rights reserved.
      </div>
      &nbsp;
      <div>
        openmediavault is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License v3 as published by the Free Software Foundation.
      </div>
      &nbsp;
      <div>
        openmediavault is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the <a href="http://www.gnu.org/licenses">GNU General Public License</a> for more details.
      </div>
      &nbsp;
      <div class="omv-text-center">
        <form action="https://www.paypal.com/cgi-bin/webscr"
              method="post"
              target="_blank">
          <input type="hidden"
                 name="cmd"
                 value="_s-xclick">
          <input type="hidden"
                 name="hosted_button_id"
                 value="95MF5UQ66PW2E">
          <input class="omv-text-center"
                 type="image"
                 src="./assets/images/donate.gif"
                 name="submit"
                 alt="PayPal - The safer, easier way to pay online!">
        </form>
      </div>
      &nbsp;
      <div>
        1> <span class="cursor omv-text-monospace">█</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
