<div class="omv-about-page"
     fxLayout="column"
     fxLayoutAlign="center center">
  <mat-card >
    <mat-card-content>
      <div>
        openmediavault is Copyright © 2009-2021 by Volker Theile (volker.theile@openmediavault.org).
      </div>
      <div>
        All rights reserved.
      </div>
      &nbsp;
      <div>
        openmediavault is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License v3 as published by the Free Software Foundation.
      </div>
      &nbsp;
      <div>
        openmediavault is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the <a href="http://www.gnu.org/licenses"
                                                                                                                                                                                                         target="_blank">GNU General Public License</a> for more details.
      </div>
    </mat-card-content>
  </mat-card>
</div>
