{% set shutdown = salt['pillar.get']('default:OMV_ACPID_POWERBTN_ACTION_SHUTDOWN', 'shutdown -h -P now "Power button pressed"') -%}
{% set standby = salt['pillar.get']('default:OMV_ACPID_POWERBTN_ACTION_STANDBY', 'omv-pm-standby') -%}
event=button[ /]power (PWR.||PBTN)
{%- if powerbtn == 'nothing' %}
#action=
{%- endif %}
{%- if powerbtn == 'shutdown' %}
action={{ shutdown }}
{%- endif %}
{%- if powerbtn == 'standby' %}
action={{ standby }}
{%- endif %}
