Source: openmediavault-clamav
Section: utils
XB-Plugin-Section: utilities
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-clamav
Architecture: all
Depends: openmediavault (>= 7.4.5), clamav-daemon (>= 0.102), clamav-freshclam, clamdscan
Priority: optional
Description: openmediavault ClamAV plugin
 Clam AntiVirus is an anti-virus toolkit for Unix.
