Source: openmediavault-clamav
Section: net
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://www.openmediavault.org

Package: openmediavault-clamav
Architecture: all
Depends: openmediavault (>= 0.6.0.13), clamav-daemon (>= 0.98.1),
 clamav-freshclam (>= 0.98.1)
Priority: optional
Description: OpenMediaVault ClamAV plugin
 Clam AntiVirus is an anti-virus toolkit for Unix.
