Source: iscsitarget-module-dkms
Section: net
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 3.9.2
Homepage: http://www.openmediavault.org

Package: iscsitarget-module-dkms
Architecture: all
Depends: patch, iscsitarget-dkms
Provides: iscsitarget-module
Conflicts: iscsitarget-module
Replaces: iscsitarget-module
Description: iSCSI Enterprise Target module for Linux
 iSCSI Enterprise Target is for building an iSCSI storage system on
 Linux. It is aimed at developing an iSCSI target satisfying enterprise
 requirements.
 .
 This package installs the iscsitarget kernel module using dkms.
