#!/usr/bin/make -f

#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	dh_quilt_unpatch
	find . -maxdepth 1 -not -iname "debian" -not -name ".*" -exec rm -r -v '{}' \;
	dh_clean

patch: extract patch-stamp
patch-stamp:
	dh_quilt_patch
	touch patch-stamp

extract: extract-stamp
extract-stamp:
	unzip $(CURDIR)/../sources/json-schema-php_0.2.0.zip
	touch extract-stamp

install: extract patch
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install extract patch
