#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@ --with quilt

clean:
	dh_testdir
	dh_testroot
	find . -maxdepth 1 -not -iname "debian" -not -name ".*" -exec rm -r -v '{}' \;
	dh_clean

extract: extract-stamp
extract-stamp:
	tar -xzvf $(CURDIR)/../sources/php-json-schema.tar.gz
	mv $(CURDIR)/justinrainbow-json-schema-5fe0224/* $(CURDIR)
	rm -rf $(CURDIR)/justinrainbow-json-schema-5fe0224
	touch extract-stamp

build: build-stamp
build-stamp: extract-stamp patch
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install extract
