<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!-- Configuration version -->
	<version>0.1</version>
	<!-- System configuration - Do not add any configuration here -->
	<system>
		<powermanagement>
			<cpufreq>1</cpufreq>
			<powerbtn>0</powerbtn>
		</powermanagement>
		<time>
			<timezone>Etc/UTC</timezone>
			<ntp>
				<enable>0</enable>
				<timeservers>pool.ntp.org</timeservers>
			</ntp>
		</time>
		<email>
			<!--
			<enable>0|1</enable>
			<tls>0|1</tls>
			-->
			<enable>0</enable>
			<server></server>
			<port>25</port>
			<tls>0</tls>
			<sender></sender>
			<authentication>
				<!--
				<enable>0|1</enable>
				-->
				<enable>0</enable>
				<username></username>
				<password></password>
			</authentication>
			<primaryemail></primaryemail>
			<secondaryemail></secondaryemail>
		</email>
		<certificates>
			<!--
			<sslcertificate>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<certificate>xxx</certificate>
				<privatekey>xxx</privatekey>
				<comment>xxx</comment>
			</sslcertificate>
			-->
		</certificates>
		<network>
			<hostname>OpenMediaVault</hostname>
			<domainname></domainname>
			<interfaces>
				<!--
				<iface>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<devicename>(eth|wlan)\d+</devicename>
					<method>dhcp|static|manual</method>
					<address>xxx.xxx.xxx.xxx</address>
					<netmask>xxx.xxx.xxx.xxx</netmask>
					<gateway>xxx.xxx.xxx.xxx</gateway>
					<mtu></mtu>
					<wol>0|1</wol>
					<options></options>
				</iface>
				<bondiface>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<devicename>bond\d+</devicename>
					<method>dhcp|static|manual</method>
					<address>xxx.xxx.xxx.xxx</address>
					<netmask>xxx.xxx.xxx.xxx</netmask>
					<gateway>xxx.xxx.xxx.xxx</gateway>
					<mtu></mtu>
					<wol>0|1</wol>
					<options></options>
					<slaves>((eth|wlan)\d+,)*(eth|wlan)\d+</slaves>
					<bondprimary>(eth|wlan)\d+</bondprimary>
					<bondmode>0|1|2|3|4|5|6</bondmode>
					<bondmiimon>0</bondmiimon>
					<bonddowndelay>0</bonddowndelay>
					<bondupdelay>0</bondupdelay>
				</bondiface>
				-->
			</interfaces>
			<hostac>
				<allow></allow>
				<deny></deny>
			</hostac>
			<dnsnameservers></dnsnameservers>
			<iptables>
				<!--
				<rule>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<rulenum>1...x</rulenum>
					<chain>INPUT|OUTPUT</chain>
					<action>ACCEPT|REJECT|DROP|LOG</action>
					<source>[!]?xxx.xxx.xxx.xxx|[!]?xxx.xxx.xxx.xxx/xx|xxx.xxx.xxx.xxx-yyy.yyy.yyy.yyy</source>
					<sport>xxx|xxx-yyy</sport>
					<destination>[!]?xxx.xxx.xxx.xxx|[!]?xxx.xxx.xxx.xxx/xx|xxx.xxx.xxx.xxx-yyy.yyy.yyy.yyy</destination>
					<dport>xxx|xxx-yyy</dport>
					<protocol>[!]?(tcp|udp|icmp)|all</protocol>
					<extraoptions>xxx</extraoptions>
					<comment>xxx</comment>
				</rule>
				-->
			</iptables>
		</network>
		<usermanagement>
			<homedirectory>
				<enable>0</enable>
				<sharedfolderref></sharedfolderref>
			</homedirectory>
			<users>
				<!--
				<user>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<name>xxx</name>
					<email>xxx</email>
					<disallowusermod>0</disallowusermod>
				</user>
				-->
			</users>
			<groups>
				<!--
				<group>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<name>xxx</name>
					<comment>xxx</comment>
				</group>
				-->
			</groups>
		</usermanagement>
		<crontab>
			<!--
			<job>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<enable>0|1</enable>
				<sendemail>0|1<sendemail>
				<type>reboot|shutdown|userdefined</type>
				<comment>xxx</comment>
				<minute>[00-59|*]</minute>
				<everynminute>0|1</everynminute>
				<hour>[00-23|*]</hour>
				<everynhour>0|1</everynhour>
				<dayofmonth>[01-31|*]</dayofmonth>
				<everyndayofmonth>0|1</everyndayofmonth>
				<month>[01-12|*]</month>
				<dayofweek>[1-7|*]</dayofweek>
				<username>xxx</username>
				<command>xxx</command>
			</job>
			-->
		</crontab>
		<syslog>
			<remote>
				<!--
				<protocol>udp|tcp</protocol>
				-->
				<enable>0</enable>
				<host></host>
				<port>514</port>
				<protocol>udp</protocol>
			</remote>
		</syslog>
		<storage>
			<!--
			<hdparm>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<devicefile>/dev/xxx</devicefile>
				<smart>0|1</smart>
				<apm>255 = disable|1-254<apm>
				<aam>0|128|254</aam>
				<spindowntime>0 = disabled|1-254</spindowntime>
				<writecache>0|1</writecache>
			</hdparm>
			-->
			<filesystem>
				<!--
				<quota>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<fsuuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|xxxx-xxxx</fsuuid>
					<usrquota>
						<name>xxx</name>
						<bsoftlimit>0</bsoftlimit>
						<bhardlimit>xxx</bhardlimit>
						<isoftlimit>0</isoftlimit>
						<ihardlimit>0</ihardlimit>
					</usrquota>
					<usrquota>
						...
					</usrquota>
					<grpquota>
						<name>xxx</name>
						<bsoftlimit>0</bsoftlimit>
						<bhardlimit>xxx</bhardlimit>
						<isoftlimit>0</isoftlimit>
						<ihardlimit>0</ihardlimit>
					</grpquota>
					<grpquota>
						...
					</grpquota>
				</quota>
				<quota>
					...
				</quota>
				-->
			</filesystem>
		</storage>
		<fstab>
			<!--
			<mntent>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<fsname>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|xxxx-xxxx|/dev/xxx</fsname>
				<dir>/xxx/yyy/zzz</dir>
				<type>ext2|ext3|ext4|xfs|jfs|iso9660|udf</type>
				<opts></opts>
				<freq>0</freq>
				<passno>0|1|2</passno>
			</mntent>
			-->
		</fstab>
		<shares>
			<!--
			<sharedfolder>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<name>xxx</name>
				<comment>xxx</comment>
				<mntentref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</mntentref>
				<reldirpath>xxx</reldirpath>
				<privileges>
					<privilege>
						<type>user|group</type>
						<name>xxx</name>
						<perms>0 = no permission|5 = read and execute|7 = read, write and execute</perms>
					</privilege>
				</privileges>
			</sharedfolder>
			-->
		</shares>
	</system>
	<!-- Web administration configuration - Do not add any configuration here -->
	<webadmin>
		<port>80</port>
		<enablessl>0</enablessl>
		<sslport>443</sslport>
		<forcesslonly>0</forcesslonly>
		<sslcertificateref></sslcertificateref>
		<timeout>5</timeout>
		<dnssd>
			<enable>1</enable>
			<name>%h - Web administration</name>
		</dnssd>
	</webadmin>
	<!-- Plugin configuration area -->
	<services>
		<ssh>
			<enable>0</enable>
			<port>22</port>
			<extraoptions></extraoptions>
			<passwordauthentication>1</passwordauthentication>
			<permitrootlogin>1</permitrootlogin>
			<tcpforwarding>0</tcpforwarding>
			<compression>0</compression>
			<dnssd>
				<enable>1</enable>
				<name>%h - SSH</name>
			</dnssd>
		</ssh>
		<nfs>
			<enable>0</enable>
			<numproc>8</numproc>
			<shares>
				<!--
				<share>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
					<mntentref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</mntentref>
					<client>xxx.xxx.xxx.xxx/xx|xxxxxxxxx</client>
					<options>xxx,xxx,xxx</options>
					<extraoptions></extraoptions>
					<comment>xxx</comment>
				</share>
				-->
			</shares>
			<dnssd>
				<enable>1</enable>
				<name>%h - NFS</name>
			</dnssd>
		</nfs>
		<ftp>
			<enable>0</enable>
			<port>21</port>
			<maxclients>5</maxclients>
			<maxconnectionsperhost>2</maxconnectionsperhost>
			<maxloginattempts>1</maxloginattempts>
			<timeoutidle>1200</timeoutidle>
			<displaylogin></displaylogin>
			<allowforeignaddress>0</allowforeignaddress>
			<allowrestart>0</allowrestart>
			<identlookups>0</identlookups>
			<usereversedns>0</usereversedns>
			<rootlogin>0</rootlogin>
			<masqueradeaddress></masqueradeaddress>
			<usepassiveports>0</usepassiveports>
			<minpassiveports>49152</minpassiveports>
			<maxpassiveports>65534</maxpassiveports>
			<limittransferrate>0</limittransferrate>
			<maxuptransferrate>0</maxuptransferrate>
			<maxdowntransferrate>0</maxdowntransferrate>
			<anonymous>0</anonymous>
			<requirevalidshell>1</requirevalidshell>
			<extraoptions></extraoptions>
			<shares>
				<!--
				<share>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
					<mntentref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</mntentref>
					<comment>xxx</comment>
				</share>
				-->
			</shares>
			<modules>
				<mod_ban>
					<!--
					<rule>
						<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
						<event>AnonRejectPasswords|ClientConnectRate|MaxClientsPerClass|MaxClientsPerHost|MaxClientsPerUser|MaxConnectionsPerHost|MaxHostsPerUser|MaxLoginAttempts|TimeoutIdle|TimeoutNoTransfer</event>
						<occurrence>xxx</occurrence>
						<timeinterval>hh:mm:ss</timeinterval>
						<expire>hh:mm:ss</expire>
					</rule>
					-->
				</mod_ban>
				<mod_tls>
					<enable>0</enable>
					<required>0</required>
					<sslcertificateref></sslcertificateref>
					<nocertrequest>0</nocertrequest>
					<nosessionreuserequired>0</nosessionreuserequired>
					<useimplicitssl>0</useimplicitssl>
					<extraoptions></extraoptions>
				</mod_tls>
			</modules>
			<dnssd>
				<enable>1</enable>
				<name>%h - FTP</name>
			</dnssd>
		</ftp>
		<smart>
			<!--
			<powermode>never|sleep|standby|idle</powermode>
			-->
			<enable>0</enable>
			<interval>1800</interval>
			<powermode>never</powermode>
			<tempdiff>0</tempdiff>
			<tempinfo>0</tempinfo>
			<tempcrit>0</tempcrit>
			<scheduledtests>
				<!--
				<job>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<devicefile>/dev/xxx</devicefile>
					<type>S|L|C|O</type>
					<month>[01-12|*]</month>
					<dayofmonth>[01-31|*]</dayofmonth>
					<dayofweek>[1-7|*]</dayofweek>
					<hour>[00-23|*]</hour>
					<comment>xxx</comment>
				</job>
				-->
			</scheduledtests>
		</smart>
		<tftp>
			<!--
			<blocksize>[512-65464]</blocksize>
			<sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
			-->
			<enable>0</enable>
			<port>69</port>
			<retransmit>1000000</retransmit>
			<blocksize>512</blocksize>
			<allownewfiles>0</allownewfiles>
			<sharedfolderref></sharedfolderref>
			<extraoptions></extraoptions>
			<dnssd>
				<enable>1</enable>
				<name>%h - TFTP</name>
			</dnssd>
		</tftp>
		<smb>
			<enable>0</enable>
			<workgroup>WORKGROUP</workgroup>
			<serverstring>%h server</serverstring>
			<loglevel>0</loglevel>
			<usesendfile>0</usesendfile>
			<nullpasswords>0</nullpasswords>
			<localmaster>1</localmaster>
			<timeserver>0</timeserver>
			<winssupport>0</winssupport>
			<winsserver></winsserver>
			<homesenable>0</homesenable>
			<homesbrowseable>1</homesbrowseable>
			<extraoptions></extraoptions>
			<shares>
				<!--
				<share>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
					<name>xxx</name>
					<comment>xxx</comment>
					<guestok>0</guestok>
					<readonly>0</readonly>
					<browseable>1</browseable>
					<recyclebin>0</recyclebin>
					<hidedotfiles>1</hidedotfiles>
					<inheritacls>1</inheritacls>
					<inheritpermissions>0</inheritpermissions>
					<easupport>0</easupport>
					<storedosattributes>0</storedosattributes>
					<hostsallow></hostsallow>
					<hostsdeny></hostsdeny>
					<extraoptions></extraoptions>
				</share>
				-->
			</shares>
			<dnssd>
				<enable>1</enable>
				<name>%h - SMB/CIFS</name>
			</dnssd>
		</smb>
		<rsync>
			<server>
				<enable>0</enable>
				<port>873</port>
				<extraoptions></extraoptions>
				<modules>
					<!--
					<module>
						<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
						<sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
						<uid>xxx</uid>
						<gid>xxx</gid>
						<name>xxx</name>
						<comment>xxx</comment>
						<readonly>0</readonly>
						<writeonly>0</writeonly>
						<maxconnections>0</maxconnections>
						<list>1</list>
						<hostsallow></hostsallow>
						<hostsdeny></hostsdeny>
						<extraoptions></extraoptions>
						<authusers>0|1</authusers>
						<users>
							<user>
								<name>xxx</name>
								<password>xxx</password>
							<user>
						<users>
					</module>
					-->
				</modules>
				<dnssd>
					<enable>1</enable>
					<name>%h - Rsync</name>
				</dnssd>
			</server>
			<jobs>
				<!--
				<job>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<enable>0|1</enable>
					<sendemail>0|1<sendemail>
					<comment>xxx</comment>
					<type>local|remote</type>
					<src>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|xxx</src>
					<dest>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|xxx</dest>
					<minute>[00-59|*]</minute>
					<everynminute>0|1</everynminute>
					<hour>[00-23|*]</hour>
					<everynhour>0|1</everynhour>
					<dayofmonth>[01-31|*]</dayofmonth>
					<everyndayofmonth>0|1</everyndayofmonth>
					<month>[01-12|*]</month>
					<dayofweek>[1-7|*]</dayofweek>
					<recursive>1</recursive>
					<times>1</times>
					<compress>0</compress>
					<archive>1</archive>
					<delete>0</delete>
					<quiet>0</quiet>
					<perms>1</perms>
					<acls>1</acls>
					<xattrs>0</xattrs>
					<extraoptions></extraoptions>
					// remote
					<mode>push|pull</mode>
					<password>xxx</password>
				</job>
				-->
			</jobs>
		</rsync>
		<snmp>
			<!--
			<version>2c|3</version>
			<securitylevel>noauth|auth|priv</securitylevel>
			<authtype>MD5|SHA</authtype>
			<privtype>DES|AES</privtype>
			-->
			<enable>0</enable>
			<community>public</community>
			<syslocation></syslocation>
			<syscontact></syscontact>
			<version>2c</version>
			<username></username>
			<securitylevel>noauth</securitylevel>
			<authtype>MD5</authtype>
			<authpassphrase></authpassphrase>
			<privtype>DES</privtype>
			<privpassphrase></privpassphrase>
			<extraoptions></extraoptions>
			<trap>
				<enable>0</enable>
				<community>public</community>
				<host>localhost</host>
				<port>162</port>
			</trap>
		</snmp>
	</services>
</config>
