<omv-alert-panel *ngIf="dirtyModules | count"
                 type="warning"
                 icon="information"
                 title="{{ 'Pending configuration changes' | translate }}"
                 [buttons]="buttons">
  <div class="omv-cursor-pointer"
       fxFlex
       fxLayout="column"
       fxLayoutAlign="center start"
       (click)="expanded = !expanded">
    {{ 'You must apply these changes in order for them to take effect.' | translate }}
    <div class="details"
         [ngClass]="{'omv-display-none': !expanded}">
      <div class="omv-mt-h">
        {{ 'The following modules will be updated:' | translate }}
      </div>
      <ul>
        <li *ngFor="let module of dirtyModules | keyvalue"
            matTooltip="{{ module.value | translate }}">
          {{ module.key }}
        </li>
      </ul>
    </div>
  </div>
</omv-alert-panel>
