@use '~@angular/material' as mat;

@import 'src/styles';

.mat-toolbar {
  @extend .omv-background-color-theme-accent;

  .omv-apply-config-message {
    font-size: mat.font-size($omv-typography-config, body-1);
    line-height: initial;
    margin-left: $omv-margin-icon-text;
    white-space: normal;
  }
}
