@use 'src/scss/theme/colors' as tc;

.mat-toolbar {
  @include tc.background-color-pair('warning');

  height: auto;
  min-height: 4rem; // 64px

  .content {
    font-size: var(--mat-font-size-body-1);
    line-height: initial;
    white-space: normal;
  }
}
