<mat-form-field fxFlex
                [formGroup]="formGroup">
  <mat-label>{{ config.label | translate }}</mat-label>
  <mat-form-button [formControlName]="config.name"
                   [autofocus]="config.autofocus"
                   matTooltip="{{ config.tooltip | translate }}"
                   (click)="onClick()">
    <mat-icon [svgIcon]="config.icon"></mat-icon>
  </mat-form-button>
  <mat-hint *ngIf="config.hint?.length > 0"
            [innerHTML]="config.hint | translate | sanitizeHtml">
  </mat-hint>
</mat-form-field>
