@import 'src/styles';

.mat-list-item {
  @extend .omv-color-white;

  border-left: 3px solid transparent;

  &.active {
    border-left: 3px solid $omv-color-primary;
  }

  &:hover:not(.active) {
    border-left: 3px solid $omv-color-accent;
  }

  .omv-list-item-indent-z1 {
    width: 32px;
  }

  .omv-list-item-indent-z2 {
    width: 64px;
  }

  .omv-list-item-indent-z3 {
    width: 96px;
  }

  .mat-icon {
    margin-right: $omv-margin-icon-text;
  }
}
