@use 'scss/defaults/variables' as dv;
@use 'scss/theme';

.mat-mdc-card {
  margin: dv.$omv-margin;
  padding: unset;

  .mat-mdc-card-title-group {
    padding: dv.$omv-padding dv.$omv-padding 0;
  }

  .mat-mdc-card-content {
    padding: dv.$omv-padding dv.$omv-padding 0;
  }

  .mat-mdc-card-actions {
    margin: 0;
    padding: 0 dv.$omv-padding dv.$omv-padding;
  }

  .mat-mdc-selection-list {
    padding-top: unset;

    .mat-mdc-list-option {
      .mat-mdc-form-field-hint {
        font-size: 75%;
        font-weight: 400;
        line-height: 1.125;
        margin-bottom: 5px;
      }
    }
  }
}
