@import 'src/styles';

.mat-card {
  margin: $omv-margin;
  padding: unset;

  .mat-toolbar {
    border-top-left-radius: $omv-radius;
    border-top-right-radius: $omv-radius;
    color: $omv-color-primary;
  }

  .mat-card-title-group {
    padding: $omv-padding $omv-padding 0;
  }

  .mat-card-content {
    padding: $omv-padding $omv-padding 0;
  }

  .mat-card-actions {
    margin: 0;
    padding: 0 $omv-padding $omv-padding;
  }

  .mat-selection-list {
    padding-top: unset;

    .mat-hint {
      font-size: 75%;
    }
  }
}
