@import 'src/styles';

.mat-card {
  margin: $omv-margin;

  .mat-card-actions {
    padding: unset $omv-padding * 0.5 $omv-padding * 0.5;
  }

  ::ng-deep .mat-selection-list {
    padding-top: unset;

    .mat-list-item-content {
      padding-left: unset;
    }
  }
}
