@use 'scss/mixins';

.editor-container {
  .cm-editor {
    @include mixins.omv-scrollbar;

    height: 300px;
    resize: vertical;
    overflow: auto;

    .cm-scroller {
      @include mixins.omv-scrollbar;
    }

    &.cm-focused {
      outline: unset !important;
    }
  }
}
