# This file is part of OpenMediaVault.
#
# @license   http://www.gnu.org/licenses/gpl.html GPL Version 3
# @author    Volker Theile <volker.theile@openmediavault.org>
# @copyright Copyright (c) 2009-2015 Volker Theile
#
# OpenMediaVault is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# OpenMediaVault is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with OpenMediaVault. If not, see <http://www.gnu.org/licenses/>.

# Documentation/Howto:
# udevadm info --query=all --name=/dev/sdX
# udevadm info -a -p $(udevadm info -q path -n /dev/sdX)
# udevadm info -a --name=/dev/sdX
# udevadm control --reload-rules
# udevadm test /sys/block/sdX
# cat /sys/block/sdX/queue/rotational

# TRANSCEND DOM (http://ec.transcendusa.com/product/product_memory.asp?Cid=59&indexnum=13)
SUBSYSTEM=="block", KERNEL=="[sh]d[a-z]", ENV{ID_ATA}=="1", ENV{ID_TYPE}=="disk", ENV{ID_BUS}=="ata", ENV{ID_MODEL}=="TRANSCEND", ATTR{queue/rotational}="0"
