Source: openmediavault-forkeddaapd
Section: sound
XB-Plugin-Section: multimedia
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.9.6
Homepage: http://www.openmediavault.org

Package: openmediavault-forkeddaapd
Architecture: all
Depends: openmediavault (>= 5.0), forked-daapd
Priority: optional
Description: openmediavault forked-daapd (DAAP server) plugin
 forked-daapd is an iTunes-compatible DAAP (Digital Audio Access Protocol)
 media server.
