Source: openmediavault-sharerootfs
Section: admin
XB-Plugin-Section: admin
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-sharerootfs
Architecture: all
Depends: openmediavault (>= 7.0)
Priority: optional
Description: openmediavault share root filesystem plugin
 By default the root filesystem is hidden in openmediavault
 and cannot be used to create shared folders on it. This is
 by design to separate the operating system from user data.
 This plugin allows creating shared folders in the root file
 system.
