@use 'src/scss/defaults/variables' as dv;
@use 'src/scss/theme';

.omv-shutdown-page {
  @include theme.background-color-pair('primary');

  align-items: center;
  background-image: url('^./assets/images/openmediavault_logo.svg');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center bottom dv.$omv-margin;
  display: flex;
  height: 100%;
  justify-content: center;

  .omv-shutdown-page-icon,
  .omv-shutdown-page-icon-background {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .omv-shutdown-page-icon-background {
    width: 5rem;
    height: 5rem;
  }
}
