@use 'scss/defaults/variables' as dv;

.omv-navigation-page {
  margin: dv.$omv-margin;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  .mat-card {
    cursor: pointer;
    min-height: 100px;
  }
}
