<div class="omv-navigation-page"
     gdGap="12px"
     gdColumns="repeat(auto-fit, minmax(150px, 1fr))">
  <div *ngFor="let item of menuItems">
    <mat-card mat-ripple
              fxLayout="column"
              fxLayoutAlign="center center"
              (click)="onClick(item)">
      <mat-icon *ngIf="item.icon"
                svgIcon="{{ item.icon }}"></mat-icon>
      <div class="omv-text-center omv-text-truncate omv-w-100">
        {{ item.text | transloco }}
      </div>
    </mat-card>
  </div>
</div>
