@import 'src/styles';

.omv-navigation-bar {
  min-width: 18rem;
  max-width: 18rem;
  height: 100%;

  .header {
    background-color: $omv-color-transparent;
    border-left: 3px solid $omv-color-transparent;
    height: $omv-top-bar-height;
    padding-left: $omv-padding;

    .logo {
      width: 100%;
      height: 100%;
      background-image: url('/assets/images/openmediavault_logo_simple.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: center;
    }
  }

  .content {
    .mat-nav-list {
      padding-top: unset;
    }
  }
}
