Source: openmediavault-2fa-totp
Section: admin
XB-Plugin-Section: administration
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-2fa-totp
Architecture: all
Depends: openmediavault (>= 8.5.0)
Conflicts: openmediavault-2fa-emailotp
Priority: optional
Description: openmediavault two-factor authentication (2FA) with TOTP plugin
 Provides RFC 6238 time-based one-time passwords (TOTP) as second
 factor authentication for the UI.
