#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include ../openmediavault.mk

%:
	dh $@ --with systemd

override_dh_systemd_enable:
	dh_systemd_enable --name=openmediavault-usbbackup-automountfs@

override_dh_systemd_start:
	dh_systemd_start -r --no-start --name=openmediavault-usbbackup-automountfs@
