@use 'sass:math';

@import 'src/styles';

#omv-workbench-navigation {
  min-width: 20rem;
  max-width: 20rem;
}

#omv-workbench-router-outlet {
  @include omv-scrollbar;
}

omv-breadcrumb {
  margin: math.div($omv-margin, 4) $omv-margin;
}
