<block-ui class="mat-typography">
  <mat-sidenav-container *ngIf="!loading"
                         fxFlexFill
                         autosize>
    <mat-sidenav #navigationSidenav
                 id="omv-workbench-navigation"
                 position="start"
                 [mode]="sideNavMode"
                 [opened]="sideNavOpened">
      <omv-navigation-bar></omv-navigation-bar>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
      <omv-apply-config *ngIf="pendingChanges"></omv-apply-config>
      <omv-top-bar (toggleNavigationSidenavEvent)="onToggleNavigationSidenav()"
                   (toggleNotificationSidenavEvent)="onToggleNotificationsSidenav()">
      </omv-top-bar>
      <omv-breadcrumb class="omv-mx omv-my-q"></omv-breadcrumb>
      <div id="omv-workbench-router-outlet"
           class="omv-scrollable-y">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #notificationsSidenav
                 mode="over"
                 position="end">
      <omv-notifications></omv-notifications>
    </mat-sidenav>
  </mat-sidenav-container>
</block-ui>
