[Unit]
Description=Shairport AirTunes receiver
After=sound.target
Requires=avahi-daemon.service
After=avahi-daemon.service

[Service]
EnvironmentFile=/etc/conf.d/shairport
ExecStart=/usr/bin/shairport $SHAIRPORT_ARGS
Restart=always

[Install]
WantedBy=multi-user.target
