{{ pillar['headers']['multiline'] }}
{%- for device in config %}
{{ device.devicefile }} {
{%- if device.aam > 0 %}
    acoustic_management = {{ device.aam }}
{%- endif %}
{%- if device.apm > 0 %}
    apm = {{ device.apm }}
{%- endif %}
{%- if device.spindowntime > 0 %}
    force_spindown_time = {{ device.spindowntime }}
{%- endif %}
{%- if device.writecache | to_bool %}
    write_cache = on
{%- else %}
    write_cache = off
{%- endif %}
}
{%- endfor -%}
