<omv-dashboard-widget [config]="config"
                      [loadData]="loadData.bind(this)"
                      (dataChangedEvent)="dataChanged($event)">
  <div *ngIf="data"
       class="widget-content"
       gdGap="3px"
       gdColumns="repeat(auto-fit, minmax(100px, 1fr))">
    <div *ngFor="let item of data.data"
         class="item"
         [ngClass]="config.grid?.item.class | template:item"
         matTooltipClass="omv-text-wrap-line"
         [matTooltip]="config.grid?.item.tooltip | template:item | br2nl | preventHtml"
         [routerLink]="config.grid?.item.url | template:item">
      <div *ngIf="config.grid?.item.title"
           class="title omv-font-weight-bold"
           [ngClass]="config.grid?.item.titleClass | template:item"
           [innerHTML]="config.grid?.item.title | template:item | sanitizeHtml">
      </div>
      <div class="content"
           [ngClass]="config.grid?.item.contentClass | template:item"
           [innerHTML]="config.grid?.item.content | template:item | sanitizeHtml">
      </div>
    </div>
  </div>
</omv-dashboard-widget>
