@use 'scss/defaults/variables' as dv;

.widget-content {
  padding: 0 dv.$omv-padding dv.$omv-padding;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  .item {
    cursor: default;
    padding: dv.$omv-padding * 0.5;
  }
}
