@use '~@angular/material' as mat;

@import 'styles.scss';

$mat-typography-config: mat.define-typography-config();

.omv-dashboard-widget-chart {
  padding: $omv-padding;

  .chart {
    position: relative;

    .gauge-label {
      position: absolute;
      font-size: mat.font-size($mat-typography-config, body-1);
      font-weight: mat.font-weight($mat-typography-config, body-1);
    }
  }

  .advanced-label {
    margin-left: 8px;

    .total {
      margin-bottom: 8px;

      .total-value {
        font-size: mat.font-size($mat-typography-config, body-1);
      }

      .total-label {
        font-size: mat.font-size($mat-typography-config, caption);
      }
    }

    .items {
      .item {
        border-left: 3px solid;
        padding-left: 8px;

        .item-value {
          font-size: mat.font-size($mat-typography-config, body-1);
        }

        .item-label {
          font-size: mat.font-size($mat-typography-config, caption);
        }

        .item-percent {
          font-size: mat.font-size($mat-typography-config, body-1);
        }
      }
    }
  }
}
