<mat-card [ngClass]="{'omv-display-none': dismissed, 'omv-background-color-theme-info': type === 'info', 'omv-background-color-theme-success': type === 'success', 'omv-background-color-theme-warning': type === 'warning', 'omv-background-color-theme-error': type === 'error', 'omv-background-color-theme-tip': type === 'tip'}">
  <div fxLayout="row">
    <mat-icon class="omv-icon-lg"
              svgIcon="{{ icon }}"></mat-icon>
    <div fxFlex
         fxLayout="column"
         fxLayoutAlign="center start">
      <mat-card-title *ngIf="hasTitle">
        {{ title }}
      </mat-card-title>
      <mat-card-content>
        <ng-content></ng-content>
      </mat-card-content>
    </div>
    <div *ngIf="dismissible"
         mat-ripple
         class="dismiss-button"
         matTooltip="{{ 'Dismiss' | translate }}"
         (click)="close()">
      <mat-icon svgIcon="mdi:window-close"></mat-icon>
    </div>
  </div>
</mat-card>
