<mat-card class="alert-{{ type }}"
          [ngClass]="{'omv-m': hasMargin, 'omv-display-none': dismissed}">
  <div fxLayout="row">
    <mat-icon *ngIf="icon"
              class="alert-icon omv-icon-lg"
              svgIcon="{{ icon }}"></mat-icon>
    <div class="content-wrapper"
         fxFlex
         fxLayout="column"
         fxLayoutAlign="center start">
      <mat-card-title *ngIf="hasTitle && title">
        {{ title | translate }}
      </mat-card-title>
      <mat-card-content>
        <ng-content></ng-content>
      </mat-card-content>
    </div>
    <mat-card-actions *ngIf="buttons.length"
                      fxLayout="row"
                      fxLayoutAlign="end start"
                      fxLayout.lt-sm="column-reverse">
      <div *ngFor="let button of buttons"
           class="alert-action-button omv-ml-q"
           [class]="button.class"
           mat-ripple
           [matTooltip]="button.tooltip | translate"
           (click)="button.click && button.click(button)">
        <mat-icon svgIcon="{{ button.icon }}"></mat-icon>
      </div>
    </mat-card-actions>
  </div>
</mat-card>
