#!/usr/bin/make -f

#export DH_VERBOSE=1
EXTJSVERSION=6.2.0

%:
	dh $@

override_dh_auto_clean:
	find . -maxdepth 1 -not -iname "debian" -not -name ".*" \
	  -exec rm -r -v '{}' \;

extract: extract-stamp
extract-stamp:
	unzip $(CURDIR)/../sources/ext-$(EXTJSVERSION)-gpl.zip
	mv $(CURDIR)/ext-$(EXTJSVERSION)/* $(CURDIR)
	rm -rf $(CURDIR)/ext-$(EXTJSVERSION)
	touch extract-stamp

override_dh_quilt_patch: extract
	dh_quilt_patch

override_dh_auto_build:

override_dh_prep:
	dh_prep
	# Relocate files from <pkgname>/build/ to <pkgname>/.
	find build/packages/ -type d -iname "build" -print0 | \
	  for path in $$(xargs -0r); do \
		  mv $$path/* $$path/..; \
		  rm -rf $$path; \
	  done
	# Remove useless files.
	find build/packages/ \( -iname "*.rb" -o -iname "*.scss" \
	  -o -iname "*.md" \) -exec rm -r '{}' \;

.PHONY: extract
