The following packages are already downloaded and ready to install. Go to the 'System | Update Management' page in the web interface or run 'omv-update' from the CLI to install them finally.

You have received this notification because you have enabled software update notifications on this host. To change your notification preferences, please go to the 'System | Notification' page in the web interface.

