Source: openmediavault-iscsitarget
Section: net
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://www.openmediavault.org

Package: openmediavault-iscsitarget
Architecture: all
Depends: openmediavault (>= 0.5.13), iscsitarget, iscsitarget-module
Priority: optional
Description: OpenMediaVault iSCSI Enterprise Target plugin
 iSCSI Enterprise Target is for building an iSCSI storage system on Linux.
