Source: openmediavault-iscsitarget
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.9.6
Homepage: http://www.openmediavault.org

Package: openmediavault-iscsitarget
Architecture: all
Depends: openmediavault (>= 3.0.60), iscsitarget, iscsitarget-dkms,
 linux-headers-amd64 | linux-headers-armel | linux-headers-armhf |
 linux-headers-i386 | linux-headers-mips | linux-headers-mipsel |
 linux-headers-powerpc | linux-headers-ppc64el | linux-headers-s390 |
 linux-headers-s390x | linux-headers-sparc
Priority: optional
Description: OpenMediaVault iSCSI Enterprise Target plugin
 iSCSI Enterprise Target is for building an iSCSI storage system on Linux.
