#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SALT_EXTRAS_DIR := opt/saltstack/salt/extras-3.10

%:
	dh $@

override_dh_auto_clean:
	rm -rf opt/

override_dh_auto_build:
	pip3 install --target=$(SALT_EXTRAS_DIR) \
		--python-version=3.10 --no-compile --only-binary=:all: \
		-r requirements.txt

override_dh_shlibdeps:
	dh_shlibdeps --exclude=$(SALT_EXTRAS_DIR)

override_dh_dwz:
	# Skip this step.

override_dh_perl:
	# No Perl used, skip this step.
