#!/usr/bin/make -f

#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	find . -maxdepth 1 -not -iname "debian" -not -name ".*" -exec rm -r -v '{}' \;
	dh_clean

extract: extract-stamp
extract-stamp:
	tar -xzvf $(CURDIR)/../sources/jsl-0.3.0-src.tar.gz
	mv $(CURDIR)/jsl-0.3.0/* $(CURDIR)
	rm -rf $(CURDIR)/jsl-0.3.0
	touch extract-stamp

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: extract configure build-stamp
build-stamp:
	dh_testdir
	$(MAKE) -C src -f Makefile.ref
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: install
# Nothing here, move along.

binary-arch: install
	dh_testdir
	dh_testroot
	dh_install
	dh_installchangelogs
	dh_installdebconf
	dh_lintian
	dh_compress
	dh_link
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure extract
