#!/usr/bin/make -f

#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	find . -maxdepth 1 -not -iname "debian" -not -name ".*" -exec rm -r -v '{}' \;
	dh_clean

extract: extract-stamp
extract-stamp:
	tar xvzf $(CURDIR)/../sources/libjs-extjs4-theme-bootstrap.tar.gz
	mv $(CURDIR)/NewbridgeGreen-extjs-theme-bootstrap-*/* $(CURDIR)
	rm -rf $(CURDIR)/NewbridgeGreen-extjs-theme-bootstrap-*
	touch extract-stamp

install: extract
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install extract
