@use 'scss/theme';

.omv-form-divider {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .title {
    font-weight: var(--mat-font-weight-headline);
    font-size: var(--mat-font-size-headline);
    padding-top: 1rem;
  }
}
