@use '~@angular/material' as mat;

@import 'src/styles';

.omv-form-divider {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .title {
    font-weight: mat.font-weight($omv-typography-config, headline);
    font-size: mat.font-size($omv-typography-config, headline);
    padding-top: 1rem;
  }
}
