<ng-container *ngIf="config.singleRoute">
  <mat-tab-group>
    <mat-tab *ngFor="let tab of config.tabs"
             label="{{ tab.label | transloco }}">
      <ng-container [ngSwitch]="tab.type">
        <ng-template [ngSwitchCase]="'form'">
          <omv-intuition-form-page [config]="tab.config"></omv-intuition-form-page>
        </ng-template>

        <ng-template [ngSwitchCase]="'datatable'">
          <omv-intuition-datatable-page [config]="tab.config"></omv-intuition-datatable-page>
        </ng-template>

        <ng-template [ngSwitchCase]="'text'">
          <omv-intuition-text-page [config]="tab.config"></omv-intuition-text-page>
        </ng-template>

        <ng-template [ngSwitchCase]="'selectionlist'">
          <omv-intuition-selection-list-page [config]="tab.config"></omv-intuition-selection-list-page>
        </ng-template>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-container *ngIf="!config.singleRoute">
  <nav mat-tab-nav-bar>
    <a *ngFor="let tab of config.tabs"
       mat-tab-link
       [routerLink]="tab.url"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="rla.isActive">
      {{ tab.label | transloco }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</ng-container>
