Source: libjs-extjs3-xtheme-azenis
Section: web
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7 ), unzip
Standards-Version: 3.6.10
Homepage: http://www.extjs.com

Package: libjs-extjs3-xtheme-azenis
Architecture: all
Depends: libjs-extjs3
Description: The 'Azenis' theme for the ExtJS JavaScript framework
 Ext is a JavaScript library for building interactive web applications using
 techniques such as Ajax, DHTML and DOM scripting.
