{%- set comment = salt['pillar.get']('default:OMV_SAMBA_HOMES_COMMENT', 'Home directories') -%}
{%- set writable = salt['pillar.get']('default:OMV_SAMBA_HOMES_WRITABLE', 'yes') -%}
{%- set create_mask = salt['pillar.get']('default:OMV_SAMBA_HOMES_CREATEMASK', '0600') -%}
{%- set force_create_mode = salt['pillar.get']('default:OMV_SAMBA_HOMES_FORCECREATEMODE', '0600') -%}
{%- set directory_mask = salt['pillar.get']('default:OMV_SAMBA_HOMES_DIRECTORYMASK', '0700') -%}
{%- set force_directory_mode = salt['pillar.get']('default:OMV_SAMBA_HOMES_FORCEDIRECTORYMODE', '0700') -%}
{%- set valid_users = salt['pillar.get']('default:OMV_SAMBA_HOMES_VALIDUSERS', '%S') -%}
{%- set hide_special_files = salt['pillar.get']('default:OMV_SAMBA_HOMES_HIDESPECIALFILES', 'yes') -%}
{%- set follow_symlinks = salt['pillar.get']('default:OMV_SAMBA_HOMES_FOLLOWSYMLINKS', 'yes') -%}
{%- set vfs_objects = salt['pillar.get']('default:OMV_SAMBA_HOMES_VFSOBJECTS', '') -%}
#======================= Home Directories =======================
[homes]
comment = {{ comment }}
browseable = {% if config.homesbrowseable | to_bool %}yes{% else %}no{% endif %}
writable = {{ writable }}
create mask = {{ create_mask }}
force create mode = {{ force_create_mode }}
directory mask = {{ directory_mask }}
force directory mode = {{ force_directory_mode }}
valid users = {{ valid_users }}
hide special files = {{ hide_special_files }}
follow symlinks = {{ follow_symlinks }}
vfs objects = {{ vfs_objects }}
