@use '~@angular/material' as mat;

@import 'src/styles';

$mat-typography-config: mat.define-typography-config();

.mat-list-base .mat-list-option {
  font-size: mat.font-size($mat-typography-config, body-1);
}

.omv-selection-actions {
  font-size: mat.font-size($mat-typography-config, body-1);
  padding: $omv-padding;

  .mat-button-base:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.mat-form-field + .mat-form-field {
  padding-left: 12px;
}
