{
  admin off
}
:9001 {
  tls /data/cert.crt /data/cert.key
  header -Server
  reverse_proxy http://minio-app:8080 {
    header_down Strict-Transport-Security max-age=15768000
    header_down X-Frame-Options "SAMEORIGIN"
    header_down X-Content-Type-Options "nosniff"
    header_down X-XSS-Protection "1; mode=block"
  }
}
:9000 {
  tls /data/cert.crt /data/cert.key
  header -Server
  reverse_proxy http://minio-app:8081 {
    header_down X-Frame-Options "SAMEORIGIN"
    header_down X-Content-Type-Options "nosniff"
    header_down X-XSS-Protection "1; mode=block"
  }
}
