{%- set image = salt['pillar.get']('default:OMV_S3_PROXY_CONTAINER_IMAGE', 'docker.io/library/caddy:latest') -%}
{%- set ssl_cert_dir = salt['pillar.get']('default:OMV_SSL_CERTIFICATE_DIR', '/etc/ssl') -%}
{%- set ssl_cert_prefix = salt['pillar.get']('default:OMV_SSL_CERTIFICATE_PREFIX', 'openmediavault') -%}
{%- set ssl_cert = ssl_cert_dir | path_join('certs', ssl_cert_prefix ~ config.consolesslcertificateref ~ '.crt') -%}
{%- set ssl_key = ssl_cert_dir | path_join('private', ssl_cert_prefix ~ config.consolesslcertificateref ~ '.key') -%}
{{ pillar['headers']['multiline'] -}}
[Unit]
Description=Podman container-minio-proxy.service
Wants=network.target
After=network-online.target
BindsTo=pod-minio.service
After=pod-minio.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-minio-proxy.pid %t/container-minio-proxy.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-minio-proxy.pid --cidfile %t/container-minio-proxy.ctr-id --cgroups=no-conmon --pod-id-file %t/pod-minio.pod-id -d --replace --pull=never --name=minio-proxy -v "/var/lib/minio/Caddyfile":/etc/caddy/Caddyfile:Z -v "{{ ssl_cert }}":/data/cert.crt:ro -v "{{ ssl_key }}":/data/cert.key:ro {{ image }}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-minio-proxy.ctr-id
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-minio-proxy.ctr-id
PIDFile=%t/container-minio-proxy.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
