@use '~@angular/material' as mat;

@import 'src/styles';

.omv-form-paragraph-wrapper {
  margin-top: 0.75em;
  margin-bottom: 0.75em;

  .omv-form-field-paragraph-text {
    font-weight: mat.font-weight($omv-typography-config, title);
    font-size: mat.font-size($omv-typography-config, title);
  }
}
