Source: libjs-extjs3
Section: web
Priority: extra
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7 ), unzip
Standards-Version: 3.6.10
Homepage: http://www.sencha.com

Package: libjs-extjs3
Architecture: all
Depends:
Description: A JavaScript framework and RIA platform
 Ext is a JavaScript library for building interactive web applications using
 techniques such as Ajax, DHTML and DOM scripting.
