#!/usr/bin/make -f

#export DH_VERBOSE=1
EXTJSVERSION=3.3.0

clean:
	dh_testdir
	dh_testroot
	find . -maxdepth 1 -not -iname "debian" -not -name ".*" -exec rm -r -v '{}' \;
	dh_clean

extract: extract-stamp
extract-stamp:
	unzip $(CURDIR)/../sources/ext-$(EXTJSVERSION).zip
	mv $(CURDIR)/ext-$(EXTJSVERSION)/* $(CURDIR)
	rm -rf $(CURDIR)/ext-$(EXTJSVERSION)
	touch extract-stamp

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: extract configure build-stamp
build-stamp:
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure extract
