{%- if email_config.enable | to_bool -%}
root {{ email_config.primaryemail }}
{%- for user in users %}
{{ user.name }} {{ user.email }}
{%- endfor %}
@{{ grains['fqdn'] }} {{ email_config.primaryemail }}
{%- endif -%}
