{%- if email_config.enable | to_bool -%}
root {{ email_config.primaryemail }}
admin {{ email_config.primaryemail }}
{%- for user in users %}
{{ user.name }} {{ user.email }}
{%- endfor %}
{%- if grains['domain'] | length > 0 %}
@{{ grains['fqdn'] }} {{ email_config.primaryemail }}
{%- else %}
@{{ grains['host'] }}.localdomain {{ email_config.primaryemail }}
{%- endif -%}
{%- endif -%}
