http:
  routers:
    photoprism:
      rule: "HostRegexp(`{any:.+}`)"
      entrypoints: web
{%- if config.sslcertificateref | length > 0 %}
      tls: true
{%- endif %}
      service: photoprism
  services:
    photoprism:
      loadbalancer:
        servers:
          - url: http://photoprism-app:2384

{% if config.sslcertificateref | length > 0 -%}
tls:
  certificates:
    - certFile: /etc/traefik/cert.crt
      keyFile: /etc/traefik/cert.key
{% endif -%}
