@use 'scss/defaults/variables' as dv;
@use 'scss/theme';

.mat-card {
  margin: dv.$omv-margin;
  padding: unset;

  .mat-toolbar {
    border-top-left-radius: dv.$omv-radius;
    border-top-right-radius: dv.$omv-radius;
    color: theme.$omv-color-primary;
  }

  .mat-card-title-group {
    padding: dv.$omv-padding dv.$omv-padding 0;
  }

  .mat-card-content {
    padding: dv.$omv-padding;
  }

  .mat-card-actions {
    margin: 0;
    padding: 0 dv.$omv-padding dv.$omv-padding;
  }
}
