@use '../../../../../../node_modules/@angular/material/index' as mat;

@import '../../../../../styles';

.widget-content {
  padding: 0 $omv-padding $omv-padding;

  .item {
    border-left: 3px solid;
    border-left-color: $omv-color-success;
    padding-left: 8px;

    .item-text {
      font-size: mat.font-size($omv-typography-config, body-1);
    }

    .item-subtext {
      font-size: mat.font-size($omv-typography-config, caption);
    }

    &.warning {
      border-left-color: $omv-color-warning;
    }

    &.error {
      border-left-color: $omv-color-error;
    }
  }
}
