check process shairport-sync matching shairport-sync
    start program = "/bin/systemctl start shairport-sync"
    stop program = "/bin/systemctl stop shairport-sync"
    mode active
{%- if email_config.enable | to_bool and not notification_config.enable | to_bool %}
    noalert {{ email_config.primaryemail }}
{%- endif %}
