Source: openmediavault-lvm2
Section: net
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://www.openmediavault.org

Package: openmediavault-lvm2
Architecture: all
Depends: openmediavault (>= 0.5.19), lvm2
Priority: optional
Description: OpenMediaVault Logical Volume Manager (LVM2) plugin
 LVM supports enterprise level volume management of disk and disk subsystems
 by grouping arbitrary disks into volume groups. The total capacity of volume
 groups can be allocated to logical volumes, which are accessed as regular
 block devices.
