{%- set primary_reselect_policy = salt['pillar.get']('default:OMV_SYSTEMD_NETWORKD_BOND_PRIMARYRESELECTPOLICY', 'always') -%}
{%- set mode_map = {0: "balance-rr", 1: "active-backup", 2: "balance-xor", 3: "broadcast", 4: "802.3ad", 5: "balance-tlb", 6: "balance-alb"} -%}
[NetDev]
Name={{ interface.devicename }}
Kind=bond

[Bond]
Mode={{ mode_map[interface.bondmode] }}
PrimaryReselectPolicy={{ primary_reselect_policy }}
PrimarySlave={{ interface.bondprimary }}
MIIMonitorSec={{ interface.bondmiimon / 1000 | float }}s
UpDelaySec={{ interface.bonddowndelay / 1000 | float }}s
DownDelaySec={{ interface.bondupdelay / 1000 | float }}s
