{%- set wake_on_lan = salt['pillar.get']('default:OMV_INTERFACES_LINK_WAKEONLAN', 'magic') -%}
{%- set name_policy = salt['pillar.get']('default:OMV_INTERFACES_LINK_NAMEPOLICY', 'keep kernel database onboard slot path') -%}
{%- set mac_address_policy = salt['pillar.get']('default:OMV_INTERFACES_LINK_MACADDRESSPOLICY', 'persistent') -%}
{%- if interface.type == "bond" -%}
{%- set mac_addr = salt['network.hwaddr'](interface.bondprimary) -%}
{%- else -%}
{%- set mac_addr = salt['network.hwaddr'](interface.devicename) -%}
{%- endif -%}
[Match]
MACAddress={{ mac_addr }}

[Link]
NamePolicy={{ name_policy }}
MACAddressPolicy={{ mac_address_policy }}
{%- if interface.wol | to_bool %}
WakeOnLan={{ wake_on_lan }}
{%- endif %}
