<omv-datatable #table
               [data]="store.data"
               [autoReload]="false"
               [hasReloadButton]="false"
               [columns]="columns"
               [columnMode]="columnMode"
               [hasActionBar]="hasActionBar"
               [hasSearchField]="hasSearchField"
               [hasHeader]="hasHeader"
               [hasFooter]="hasFooter"
               [selectionType]="selectionType"
               (selectionChangeEvent)="onSelectionChange($event)"
               [limit]="limit"
               [sorters]="sorters"
               (cellDataChangedEvent)="onCellDataChanged($event)">
  <omv-datatable-actions fxFlex
                         [actions]="actions"
                         [selection]="selection"
                         [table]="table">
  </omv-datatable-actions>
</omv-datatable>
