{%- set wol_option = salt['pillar.get']('default:OMV_INTERFACES_WOL_OPTION', 'g') -%}
{%- for interface in interfaces %}
# {{ interface.vlanrawdevice }}.{{ interface.vlanid }} network interface
auto {{ interface.vlanrawdevice }}.{{ interface.vlanid }}
iface {{ interface.vlanrawdevice }}.{{ interface.vlanid }} inet {{ interface.method }}
    vlan-raw-device {{ interface.vlanrawdevice }}
{%- if interface.method == "manual" %}
    pre-down ip -4 addr flush dev $IFACE
{%- endif %}
{%- if interface.method == "static" %}
    address {{ interface.address }}
{%- if interface.gateway | is_ip %}
    gateway {{ interface.gateway }}
{%- endif %}
    netmask {{ interface.netmask }}
{%- endif %}
{%- if interface.method == "dhcp" %}
{%- endif %}
{%- if interface.mtu > 0 %}
    mtu {{ interface.mtu }}
{%- endif %}
{%- if interface.dnsnameservers | length > 0 %}
    dns-nameservers {{ interface.dnsnameservers.replace(',', ' ').split() }}
{%- endif %}
{%- if interface.dnssearch | length > 0 %}
    dns-search {{ interface.dnssearch }}
{%- else %}
{%- if dns.domainname | length > 0 and dns.domainname != "local" %}
    dns-search {{ dns.domainname }}
{%- endif %}
{%- endif %}
{%- if interface.wol | to_bool %}
    pre-down ethtool -s $IFACE wol {{ wol_option }}
{%- endif %}
{%- if interface.options | length > 0 %}
    pre-up ethtool -s $IFACE {{ interface.options }}"
{%- endif %}
iface {{ interface.vlanrawdevice }}.{{ interface.vlanid }} inet6 {{ interface.method6 }}
    vlan-raw-device {{ interface.vlanrawdevice }}
{%- if interface.method6 == "manual" %}
    pre-down ip -6 addr flush dev $IFACE
{%- endif %}
{%- if interface.method6 == "static" %}
    address {{ interface.address6 }}
{%- if interface.gateway6 | is_ipv6 %}
    gateway {{ interface.gateway6 }}
{%- endif %}
    netmask {{ interface.netmask6 }}
    privext 2
    pre-up echo 0 > /proc/sys/net/ipv6/conf/$IFACE/disable_ipv6
{%- endif %}
{%- if interface.method6 == "auto" %}
    privext 2
    pre-up echo 1 > /proc/sys/net/ipv6/conf/$IFACE/autoconf
    pre-up echo 1 > /proc/sys/net/ipv6/conf/$IFACE/accept_ra
    pre-up echo 0 > /proc/sys/net/ipv6/conf/$IFACE/disable_ipv6
{%- endif %}
{%- if interface.method6 == "dhcp" %}
    pre-up echo 1 > /proc/sys/net/ipv6/conf/$IFACE/accept_ra
    pre-up echo 0 > /proc/sys/net/ipv6/conf/$IFACE/disable_ipv6
{%- endif %}
{% endfor %}
