@use 'scss/defaults/variables' as dv;

.widget-content {
  padding: 0 dv.$omv-padding dv.$omv-padding;

  .omv-grid-cell {
    break-inside: avoid;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;

    div {
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}
