<mat-form-field fxFlex
                [formGroup]="formGroup">
  <mat-label>{{ config.label | transloco }}</mat-label>
  <mat-select [formControlName]="config.name"
              [placeholder]="config.placeholder | transloco"
              [multiple]="config.multiple"
              [required]="config.validators?.required"
              (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let option of config.store.data"
                [value]="option[config.valueField]">
      {{ option[config.textField] | transloco }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="formGroup.invalid">
    <span *ngIf="formGroup.hasError('required', config.name)">
      {{ 'This field is required.' | transloco }}
    </span>
    <span *ngIf="formGroup.hasError('constraint', config.name)">
      {{ formGroup.getError('constraint', config.name) | transloco }}
    </span>
    <span *ngIf="formGroup.hasError('pattern', config.name)">
      {{ formGroup.getError('pattern', config.name) | transloco }}
    </span>
  </mat-error>
  <mat-hint *ngIf="config.hint?.length > 0"
            [innerHTML]="config.hint | transloco | sanitizeHtml">
  </mat-hint>
</mat-form-field>
