check process nginx with pidfile /run/nginx.pid
    start program = "/bin/systemctl start nginx"
    stop program = "/bin/systemctl stop nginx"
    mode active
    if cpu is greater than 40% for 2 cycles then alert
    if cpu is greater than 80% for 5 cycles then restart
{%- if not webadmin_config.forcesslonly | to_bool %}
    if failed host 127.0.0.1 port {{ webadmin_config.port }} protocol http timeout 15 seconds for 2 times within 3 cycles then restart
{% endif -%}
{%- if webadmin_config.enablessl | to_bool %}
    if failed host 127.0.0.1 port {{ webadmin_config.sslport }} type tcpssl protocol http timeout 15 seconds for 2 times within 3 cycles then restart
{% endif -%}
