check process php-fpm with pidfile /run/php/php7.3-fpm.pid
    start program = "/bin/systemctl start php7.3-fpm"
    stop program = "/bin/systemctl stop php7.3-fpm"
    mode active
{%- if email_config.enable | to_bool and not notification_config.enable | to_bool %}
    noalert {{ email_config.primaryemail }}
{%- endif %}
