Source: openmediavault-tftp
Section: net
XB-Plugin-Section: sharing
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-tftp
Architecture: all
Depends: openmediavault (>= 7.0), tftpd-hpa
Priority: optional
Description: openmediavault TFTP-Server plugin
 A TFTP server is mainly required for booting operating systems or
 configurations over the network.
