Source: openmediavault-ad
Section: net
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://www.openmediavault.org

Package: openmediavault-ad
Architecture: all
Depends: openmediavault (>= 0.4)
Conflicts: openmediavault-ldap
Priority: optional
Description: OpenMediaVault Active Directory (AD) plugin
 This plugin adds user authentication support via AD.
