{%- set autocheck = salt['pillar.get']('default:OMV_MDADM_AUTOCHECK', 'true') -%}
{%- set autoscan = salt['pillar.get']('default:OMV_MDADM_AUTOSCAN', 'true') -%}
{%- set start_daemon = salt['pillar.get']('default:OMV_MDADM_STARTDAEMON', 'true') -%}
{%- set daemon_options = salt['pillar.get']('default:OMV_MDADM_DAEMONOPTIONS', '--syslog') -%}
{%- set verbose = salt['pillar.get']('default:OMV_MDADM_VERBOSE', 'false') -%}
{{ pillar['headers']['multiline'] }}
# AUTOCHECK:
#   should mdadm run periodic redundancy checks over your arrays? See
#   /etc/cron.d/mdadm.
AUTOCHECK={{ autocheck }}

# AUTOSCAN:
#   should mdadm check once a day for degraded arrays? See
#   /lib/systemd/system/mdmonitor-oneshot.service
AUTOSCAN={{ autoscan }}

# START_DAEMON:
#   should mdadm start the MD monitoring daemon during boot?
START_DAEMON={{ start_daemon }}

# DAEMON_OPTIONS:
#   additional options to pass to the daemon.
DAEMON_OPTIONS="{{ daemon_options }}"

# VERBOSE:
#   if this variable is set to true, mdadm will be a little more verbose e.g.
#   when creating the initramfs.
VERBOSE={{ verbose }}
