{%- set home_host = salt['pillar.get']('default:OMV_MDADM_HOMEHOST', '<system>') -%}
{%- set mail_from = salt['pillar.get']('default:OMV_MDADM_MAILFROM', 'root') -%}
{%- set program = salt['pillar.get']('default:OMV_MDADM_PROGRAM', '/usr/bin/logger -t mdmonitor') -%}
{{ pillar['headers']['multiline'] }}
# mdadm.conf
#
# Please refer to mdadm.conf(5) for information about this file.
#

# by default (built-in), scan all partitions (/proc/partitions) and all
# containers for MD superblocks. alternatively, specify devices to scan, using
# wildcards if desired.
#DEVICE partitions containers

# automatically tag new arrays as belonging to the local system
HOMEHOST {{ home_host }}

# instruct the monitoring daemon where to send mail alerts
{%- if email_config.enable | to_bool and notification_config.enable | to_bool %}
MAILADDR {{ email_config.primaryemail }}
MAILFROM {{ mail_from }}
{%- else %}
PROGRAM {{ program }}
{%- endif %}

# definitions of existing MD arrays
