@use 'scss/theme';

.omv-progress-bar {
  position: relative;
  background-color: rgb(0 0 0 / 10%);

  .omv-progress-bar-text {
    white-space: nowrap;
    overflow: hidden;
  }

  .omv-progress-bar-fill {
    @include theme.background-color-pair('green');

    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  .omv-progress-bar-fill.warning {
    @include theme.background-color-pair('error');
  }
}
