@use 'src/scss/defaults/colors' as dc;

.mat-list {
  .mat-list-item {
    color: dc.$omv-color-white;
    height: fit-content;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .list-item-title {
      white-space: normal;
    }

    .list-item-message {
      max-width: 300px;
      white-space: normal;
    }
  }
}
