@use 'src/scss/defaults/colors' as dc;

.mat-list {
  .mat-list-item {
    color: dc.$omv-color-white;

    .list-item-title {
      white-space: normal;
    }

    .list-item-message {
      max-width: 300px;
      white-space: normal;
    }
  }
}
