.mat-list-item {
  .omv-notification-list-item-title {
    font-weight: bold;
    white-space: normal;
  }
  .omv-notification-list-item-message {
    max-width: 300px;
    white-space: normal;
  }
}
