<div class="omv-login-page">
  <div class="background"></div>
  <omv-green-rain delay="30000"
                  primaryColor="#5dacdf"
                  secondaryColor="#f8d400">
  </omv-green-rain>
  <div class="toolbar">
    <mat-toolbar>
      <button mat-icon-button
              matTooltip="{{ 'Language' | translate }}"
              [matMenuTriggerFor]="localeMenu">
        <mat-icon svgIcon="mdi:earth"
                  class="omv-color-white">
        </mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="sidebar">
    <div class="logo"></div>
  </div>
  <div class="content">
    <omv-intuition-form-page [config]="this.config"></omv-intuition-form-page>
  </div>
</div>

<mat-menu #localeMenu="matMenu">
  <button *ngFor="let locale of locales | keyvalue"
          mat-menu-item
          [ngClass]="{'active': locale.key === currentLocale}"
          [disabled]="locale.key === currentLocale"
          (click)="onSelectLocale(locale.key)">
    <span>{{ locale.value }}</span>
  </button>
</mat-menu>
