@use 'scss/defaults/variables' as dv;

.omv-dashboard-widget-container {
  break-inside: avoid;

  .mat-card {
    margin-bottom: dv.$omv-margin * 0.5;
    padding: unset;
    position: relative;
    overflow: hidden; // https://stackoverflow.com/a/67873739

    .mat-progress-bar {
      position: absolute;
    }

    .mat-card-title-group {
      padding: dv.$omv-padding dv.$omv-padding (dv.$omv-padding * 0.5) dv.$omv-padding;

      .mat-card-title {
        font-size: var(--mat-font-size-title);
      }
    }
  }

  &.loading .mat-card {
    min-height: 2rem;
  }
}
