@use "sass:map";
@use 'scss/defaults/colors' as dc;
@use 'scss/theme';

omv-task-dialog {
  .mat-mdc-dialog-content {
    .omv-task-dialog-content {
      height: 300px;
      white-space: break-spaces;
    }
  }

  .mat-mdc-progress-bar {
    .mdc-linear-progress__buffer-bar {
      background-color: map.get(theme.$omv-color-pairs, terminal, color);
    }

    .mdc-linear-progress__bar-inner {
      border-color: dc.$omv-color-black-translucent;
    }
  }
}
