@use '~@angular/material' as mat;

@import 'styles.scss';

$mat-typography-config: mat.define-typography-config();

.mat-dialog-title {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 10px;
  }
}

.mat-dialog-content {
  .omv-task-dialog-content {
    @extend .omv-background-color-theme-terminal;

    height: 300px;
    white-space: break-spaces;
  }
}
