@use '~@angular/material' as mat;

@import 'src/defaults';

$mat-typography-config: mat.define-typography-config();

.mat-form-field {
  vertical-align: middle;

  .mat-select {
    font-size: mat.font-size($mat-typography-config, button);

    ::ng-deep .mat-select-placeholder {
      color: inherit;
      -webkit-text-fill-color: inherit;
    }
  }
}

.mat-divider {
  display: unset;
  margin-left: 8px;
  margin-right: 8px;
}
