.mat-form-field {
  vertical-align: middle;

  .mat-select {
    font-size: var(--mat-font-size-button);

    ::ng-deep .mat-select-placeholder {
      color: inherit;
      -webkit-text-fill-color: inherit;
    }
  }
}

.mat-divider {
  display: unset;
  margin-left: 8px;
  margin-right: 8px;
}
