Source: openmediavault-diskstats
Section: net
XB-Plugin-Section: monitoring
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-diskstats
Architecture: all
Depends: openmediavault (>= 7.0)
Priority: optional
Description: openmediavault disk monitoring plugin
 The disk monitoring plugin collects performance statistics of hard-disks.
 !!! Note !!!
 For the statistics to function correctly, stable kernel device name
 assignment for the drives to be monitored must be ensured across reboots.
 This can be accomplished with user-defined Udev rules that must be
 created by the user.
