<mat-progress-bar *ngIf="loading && firstLoad"
                  mode="indeterminate">
</mat-progress-bar>
<div *ngIf="data"
     class="omv-dashboard-widget-services-status"
     gdGap="1px"
     gdColumns="repeat(auto-fit, minmax(100px, 1fr))">
  <div *ngFor="let item of data.data"
       class="item omv-text-center omv-text-nowrap"
       [ngClass]="{'running': item.running, 'not-running': !item.running}"
       [matTooltip]="tooltipText[item.running] | translate">
    {{ item.title }}
  </div>
</div>
