@import 'src/styles';

.omv-dashboard-widget-services-status {
  padding: $omv-padding;

  .mat-card {
    border-radius: unset;
    box-shadow: unset;
    cursor: default;

    &.running {
      @extend .omv-background-color-theme-success;
    }

    &.not-running {
      @extend .omv-background-color-theme-error;
    }
  }
}
