@import 'src/styles';

.omv-dashboard-widget-services-status {
  padding: $omv-padding;

  .item {
    cursor: default;
    padding: $omv-padding * 0.5;

    &.running {
      @extend .omv-background-color-theme-success;
    }

    &.not-running {
      @extend .omv-background-color-theme-error;
    }
  }
}
