Source: openmediavault-onedrive
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: http://www.openmediavault.org

Package: openmediavault-onedrive
Architecture: all
Depends: openmediavault (>= 6.0.25), onedrive, sudo
Priority: optional
Description: openmediavault OneDrive plugin
 OneDrive is the cloud storage system of Microsoft. This plugin
 is synchronizing a shared folder with OneDrive cloud storage.
