Source: openmediavault-onedrive
Section: net
XB-Plugin-Section: utilities
XB-Plugin-Architecture: amd64, arm64, armhf, i386
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-onedrive
Architecture: all
Depends: openmediavault (>= 7.0), onedrive (>= 2.5.2), sudo
Priority: optional
Description: openmediavault OneDrive plugin
 OneDrive is the cloud storage system of Microsoft. This plugin
 is synchronizing a shared folder with OneDrive cloud storage.
