{%- if grains['os'] == 'Ubuntu' %}
{%- set repo_url = salt['pillar.get']('default:OMV_APT_KERNEL_BACKPORTS_REPOSITORY_URL', 'mirror://mirrors.ubuntu.com/mirrors.txt') -%}
deb {{ repo_url }} {{ grains['oscodename'] }}-backports main restricted universe
{%- else -%}
{%- set repo_url = salt['pillar.get']('default:OMV_APT_KERNEL_BACKPORTS_REPOSITORY_URL', 'http://httpredir.debian.org/debian') -%}
deb {{ repo_url }} {{ grains['oscodename'] }}-backports main contrib non-free
{%- endif %}
