{% set pin_priority = salt['pillar.get']('default:OMV_APT_KERNEL_BACKPORTS_PINPRIORITY', '500') -%}
Package: linux-base
Pin: release n={{ grains['oscodename'] }}-backports
Pin-Priority: {{ pin_priority }}

Package: linux-headers-*
Pin: release n={{ grains['oscodename'] }}-backports
Pin-Priority: {{ pin_priority }}

Package: linux-image-*
Pin: release n={{ grains['oscodename'] }}-backports
Pin-Priority: {{ pin_priority }}

Package: firmware-*
Pin: release n={{ grains['oscodename'] }}-backports
Pin-Priority: {{ pin_priority }}
