{%- set repo_url = salt['pillar.get']('default:OMV_APT_REPOSITORY_URL', 'http://packages.openmediavault.org/public/') -%}
{%- set alt_repo_url = salt['pillar.get']('default:OMV_APT_ALT_REPOSITORY_URL', 'https://openmediavault.github.io/packages/') -%}
deb {{ repo_url }} {{ pillar['productinfo']['distribution'] }} main
deb {{ alt_repo_url }} {{ pillar['productinfo']['distribution'] }} main

{%- if config.proposed | to_bool %}
## Uncomment the following line to add software from the proposed repository.
deb {{ repo_url }} {{ pillar['productinfo']['distribution'] }}-proposed main
deb {{ alt_repo_url }} {{ pillar['productinfo']['distribution'] }}-proposed main
{%- endif %}

{%- if config.partner | to_bool %}
## This software is not part of OpenMediaVault, but is offered by third-party
## developers as a service to OpenMediaVault users.
deb {{ repo_url }} {{ pillar['productinfo']['distribution'] }} partner
deb {{ alt_repo_url }} {{ pillar['productinfo']['distribution'] }} partner
{%- endif %}
