@use 'scss/defaults/variables' as dv;

.logo {
  height: dv.$omv-top-bar-height;
  background-image: url('^./assets/images/openmediavault_logo_simple.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}
