<div class="omv-form-checkbox-wrapper mat-form-field"
     fxFlex
     fxLayout="column"
     [formGroup]="formGroup">
  <mat-checkbox [formControlName]="config.name"
                [checked]="config.value"
                [required]="config.validators?.required">
    {{ config.label | translate }}
  </mat-checkbox>
  <mat-error *ngIf="formGroup.invalid">
    <span *ngIf="formGroup.hasError('required', config.name)"
          translate>
      This field is required.
    </span>
    <span *ngIf="formGroup.hasError('constraint', config.name)">
      {{ formGroup.getError('constraint', config.name) | translate }}
    </span>
  </mat-error>
  <mat-hint *ngIf="config.hint?.length > 0 && !formGroup.get(config.name)?.errors"
            [innerHTML]="config.hint | translate | sanitizeHtml">
  </mat-hint>
</div>
