Source: openmediavault-transmissionbt
Section: net
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
 Marcel Beck <marcel.beck@mbeck.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://www.openmediavault.org
 http://packages.omv-plugins.org/
 https://github.com/OMV-Plugins/openmediavault-transmissionbt

Package: openmediavault-transmissionbt
Architecture: all
Depends: openmediavault (>= 0.4), transmission-daemon (>= 2.42)
Priority: optional
Description: OpenMediaVault Transmission (BitTorrent client) plugin
 Transmission is a simple BitTorrent client that features a very simple and
 intuitive interface.