#!/usr/bin/make -f

#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: install
	dh_testdir
	dh_testroot
	dh_install

	# Remove '.svn' directories
	find $(CURDIR)/debian/openmediavault-transmissionbt -name .svn -type d -print0 -prune | xargs -0 rm -rf
	
	# Remove '.git' directories
	find $(CURDIR)/debian/openmediavault-transmissionbt -name .git -type d -print0 -prune | xargs -0 rm -rf
	
	chmod +x $(CURDIR)/debian/openmediavault-transmissionbt/usr/share/openmediavault/scripts/transmissionbt

	dh_installchangelogs
	dh_installdebconf
	dh_lintian
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install
