Source: openmediavault-netatalk
Section: net
XB-Plugin-Section: sharing
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.9.6
Homepage: http://www.openmediavault.org

Package: openmediavault-netatalk
Architecture: all
Depends: openmediavault (>= 3.0.67), netatalk (>= 3.1.9)
Priority: optional
Description: OpenMediaVault netatalk (AppleTalk Protocol Suite) plugin
 Netatalk is an implementation of the AppleTalk Protocol Suite.
