<div *ngIf="config.title"
     mat-dialog-title
     fxLayout="row"
     fxLayoutGap="10px">
  <mat-icon *ngIf="config.icon"
            svgIcon="{{ config.icon }}">
  </mat-icon>
  <div>{{ config.title | translate }}</div>
</div>
<mat-dialog-content>
  <span [innerHTML]="config.message | translate"></span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngFor="let button of config.buttons"
          mat-flat-button
          [ngClass]="button.class"
          [mat-dialog-close]="button.dialogResult"
          [disabled]="button.disabled"
          [autofocus]="button.autofocus">
    {{ button.text | translate }}
  </button>
</mat-dialog-actions>
