Source: openmediavault
Section: web net
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://www.openmediavault.org

Package: openmediavault
Architecture: all
Depends: libjs-extjs4 (>= 4.2.2), apache2, apache2-suexec, libapache2-mod-fcgid,
 php5-cgi, php5-cli, php5-pam, php-json-schema, sudo, ethtool, acl, ifenslave,
 resolvconf, iproute, xfsprogs, jfsutils, ntfs-3g, hdparm, sdparm, bootlogd,
 ifupdown, mdadm, postfix, libsasl2-modules, bsd-mailx, ntp, cpufrequtils,
 rsyslog, smartmontools, openssl, openssh-server, openssh-blacklist-extra,
 uuid, tzdata, nfs-kernel-server, proftpd-basic, wget, tftpd-hpa, util-linux,
 samba, samba-common-bin, rsync, apt-utils, snmpd, avahi-daemon, libnss-mdns,
 iptables, monit, acpid, beep, gdisk, rrdtool, collectd, cron, anacron,
 cron-apt, quota, quotatool, whiptail, lvm2, watchdog, ca-certificates, perl,
 libjson-perl, liblocale-po-perl, libjavascript-minifier-xs-perl, coreutils,
 xmlstarlet (>= 1.3.1), php5-proctitle, parted, bash, diffutils, lsof, socat,
 rrdcached
Description: Open network attached storage solution
 OpenMediaVault is a small and simple to use network attached storage system with
 a smart WebGUI.


