Source: openmediavault
Section: admin
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext, doxygen, make, npm
Standards-Version: 3.9.6
Homepage: http://www.openmediavault.org

Package: openmediavault
Architecture: all
Conflicts: gdm3, sddm, lxdm, xdm, lightdm, slim, wdm
Depends: php-fpm, libpam-modules, php-json, dpkg, patch, dash, mawk | gawk,
 php-cgi, php-cli, php-mbstring, php-pam, sudo, ethtool, python3-dialog,
 acl, iproute2, xfsprogs, jfsutils, ntfs-3g, wsdd (>= 0.7.0),
 sdparm, mdadm, postfix, libsasl2-modules, bsd-mailx, python3-dbus,
 cpufrequtils, rsyslog, logrotate, smartmontools, openssl, openssh-server,
 uuid, tzdata, nfs-kernel-server, lsb-release, sshpass, grep, zstd,
 wget, util-linux, samba, samba-common-bin, rsync, apt-utils, netplan.io,
 avahi-daemon, libnss-mdns, iptables, monit, beep, php-bcmath, sed,
 gdisk, rrdtool, collectd, cron, anacron, quota, php-xml, login,
 quotatool, whiptail, lvm2, ca-certificates, libc-bin, findutils,
 coreutils, xmlstarlet, mount, parted, bash, diffutils, lsof,
 rrdcached, locales, nginx, bash-completion, python3, f2fs-tools,
 python3-apt, wpasupplicant, systemd, systemd-sysv, btrfs-progs,
 samba-vfs-modules, pciutils, python3-pyudev, python3-natsort, jq, chrony,
 python3-netifaces, udev, python3-lxml, salt-minion (>= 3006.0),
 libnss-myhostname, php-yaml, python3-click, python3-cached-property,
 python3-polib, libnss-systemd, libnss-resolve, debian-archive-keyring,
 openmediavault-keyring, systemd-resolved, python3-packaging,
 unattended-upgrades, apt-listchanges, apticron, ${misc:Depends}
Description: openmediavault - The open network attached storage solution
 openmediavault is a small and simple to use network attached storage system
 with a smart WebGUI.

Package: openmediavault-installer
Package-Type: udeb
Architecture: all
Section: debian-installer
Depends: ${misc:Depends}, partman-base, finish-install
Description: openmediavault scripts for debian-installer
 This package contains scripts that are for use in debian-installer.
