[Unit]
Description=Generate the prelogin message
Wants=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service network.target
Before=getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/salt-call --local --retcode-passthrough --no-color state.orchestrate omv.deploy.issue
StandardOutput=null
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=getty.target
