[Unit]
Description=Beeps after system start or before shutdown
DefaultDependencies=no
After=multi-user.target
Before=shutdown.target suspend.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/beep -f 3000 -l 100 -n -f 3500 -l 100 -r 2
ExecStop=/usr/bin/beep -f 3000 -l 100 -r 2 -n -f 2000 -l 150

[Install]
WantedBy=multi-user.target
