[Unit]
Description=Cleanup PHP session files
DefaultDependencies=no
After=local-fs.target
Before=nginx.service

[Service]
Type=oneshot
ExecStart=/bin/rm -f /var/lib/php5/sessions/*
ExecStop=/bin/true

[Install]
WantedBy=multi-user.target
