[Unit]
Description=udev Write the /dev/root link rules
DefaultDependencies=no
Wants=systemd-udevd.service
After=systemd-udevd.service
Before=systemd-udev-trigger.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/lib/udev/openmediavault-write_dev_root_link_rules

[Install]
WantedBy=multi-user.target
