[Unit]
Description=Generate the prelogin message
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/omv-spice deploy run issue
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
