#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include ../openmediavault.mk

%:
	dh $@ --with systemd

override_dh_installinit:
	# Install the /etc/default/openmediavault file.
	dh_installinit --noscripts --name=openmediavault

override_dh_systemd_enable:
	dh_systemd_enable --name=openmediavault-beep-up
	dh_systemd_enable --name=openmediavault-beep-down
	dh_systemd_enable --name=openmediavault-cleanup-monit
	dh_systemd_enable --name=openmediavault-cleanup-php
	dh_systemd_enable --name=openmediavault-engined
	dh_systemd_enable --name=openmediavault-udev-write-dev-rule-link-rules

override_dh_systemd_start:
	dh_systemd_start -r --no-start --name=openmediavault-beep-up
	dh_systemd_start -r --no-start --name=openmediavault-beep-down
	dh_systemd_start -r --no-start --name=openmediavault-cleanup-monit
	dh_systemd_start -r --no-start --name=openmediavault-cleanup-php
	dh_systemd_start -r --no-start --name=openmediavault-engined
	dh_systemd_start -r --no-start --name=openmediavault-udev-write-dev-rule-link-rules
