#!/usr/bin/make -f

include ../openmediavault.mk

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install

binary-indep: install omv_clean_scm
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdebconf
	dh_installinit -r --no-start --name=openmediavault
	dh_installinit -r --no-start --name=openmediavault-beep
	dh_installinit -r --no-start --name=openmediavault-configimport
	dh_lintian
	dh_link
	dh_compress
	dh_fixperms
	chmod 700 debian/openmediavault/var/www/openmediavault/php-fcgi
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install
