<div class="breadcrumb"
     fxFlex>
  <ul class="breadcrumb-list">
    <li class="mat-list-item"
        role="menuitem">
      <a mat-icon-button
         routerLink="/">
        <mat-icon class="omv-icon-color-default"
                  svgIcon="{{ icon.home }}"></mat-icon>
      </a>
      <mat-divider *ngIf="breadcrumbs.length"
                   [vertical]="true">
      </mat-divider>
    </li>
    <li *ngFor="let breadcrumb of breadcrumbs; let last = last"
        class="mat-list-item"
        role="menuitem">
      <a mat-button
         [routerLink]="[breadcrumb.url]">
        <span class="omv-text-color-default">{{ breadcrumb.text | translate }}</span>
      </a>
      <mat-divider *ngIf="!last"
                   [vertical]="true">
      </mat-divider>
    </li>
  </ul>
</div>
