@use 'scss/defaults/colors' as dc;
@use 'scss/defaults/variables' as dv;
@use 'scss/theme';

nav {
  a {
    border-bottom: 3px solid dc.$omv-color-transparent;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;

    &:hover:not(.active) {
      border-bottom: 3px solid theme.$omv-color-accent;
    }

    .mat-icon {
      vertical-align: middle;
    }
  }

  .mat-divider {
    border-color: inherit;
    display: unset;
    margin-left: dv.$omv-margin * 0.5;
    margin-right: dv.$omv-margin * 0.5;
  }
}
