@use '~@angular/material' as mat;

@import 'src/styles';

.omv-breadcrumb {
  a {
    @include mat.typography-level($omv-typography-config, subheading-2);

    border-bottom: 3px solid $omv-color-transparent;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;

    &:hover:not(.active) {
      border-bottom: 3px solid $omv-color-accent;
    }

    .mat-icon {
      vertical-align: middle;
    }
  }

  .mat-divider {
    @extend .omv-mx-h;

    border-color: inherit;
    display: unset;
  }
}
