[Unit]
Description=ShairPort AirTunes receiver
After=sound.target
Wants=avahi-daemon.service
After=avahi-daemon.service

[Service]
User=shairport
Group=shairport
SupplementaryGroups=audio
ExecStart=/usr/bin/shairport
Restart=always

[Install]
WantedBy=multi-user.target
