<mat-form-field class="omv-flex-1"
                [formGroup]="formGroup">
  <div *ngIf="config.icon"
       matPrefix>
    <mat-icon [svgIcon]="config.icon"></mat-icon>&nbsp;
  </div>
  <mat-label>{{ config.label | transloco }}</mat-label>
  <textarea *ngIf="config.rows > 1"
            matInput
            [ngClass]="{'omv-text-monospace': config.monospace}"
            [formControlName]="config.name"
            [placeholder]="config.placeholder | transloco"
            [readonly]="config.readonly"
            [autocapitalize]="config.autocapitalize"
            [autofocus]="config.autofocus"
            [required]="config.validators?.required"
            [minlength]="config.validators?.minLength"
            [maxlength]="config.validators?.maxLength"
            [wrap]="config.wrap"
            [rows]="config.rows"
            [cols]="config.cols"
            spellcheck="false">
  </textarea>
  <input *ngIf="config.rows === 1"
         matInput
         type="text"
         class="omv-text-truncate"
         [ngClass]="{'omv-text-monospace': config.monospace}"
         [formControlName]="config.name"
         [placeholder]="config.placeholder | transloco"
         [readonly]="config.readonly"
         [autofocus]="config.autofocus"
         [autocapitalize]="config.autocapitalize"
         [autocomplete]="config.autocomplete"
         [required]="config.validators?.required"
         [minlength]="config.validators?.minLength"
         [maxlength]="config.validators?.maxLength">
  <input type="file"
         [accept]="config.accept"
         (change)="onChange($event)">
  <mat-error *ngIf="formGroup.invalid">
    <span *ngIf="formGroup.hasError('required', config.name)">
      {{ 'This field is required.' | transloco }}
    </span>
    <span *ngIf="formGroup.hasError('minlength', config.name)"
          transloco="The value must be at least {{ config.validators.minLength }} characters long.">
    </span>
    <span *ngIf="formGroup.hasError('maxlength', config.name)"
          transloco="The value cannot exceed {{ config.validators.maxLength }} characters.">
    </span>
    <span *ngIf="formGroup.hasError('constraint', config.name)">
      {{ formGroup.getError('constraint', config.name) | transloco }}
    </span>
    <span *ngIf="formGroup.hasError('pattern', config.name)">
      {{ formGroup.getError('pattern', config.name) | transloco }}
    </span>
  </mat-error>
  <mat-hint *ngIf="config.hint?.length > 0"
            [innerHTML]="config.hint | transloco | sanitizeHtml">
  </mat-hint>
</mat-form-field>
