Source: openmediavault-photoprism
Section: graphics
XB-Plugin-Section: multimedia
XB-Plugin-Architecture: amd64, arm64
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-photoprism
Architecture: all
Depends: openmediavault (>= 7.0), podman, catatonit
Priority: optional
Description: openmediavault PhotoPrism plugin
 PhotoPrism® is an AI-powered app for browsing, organizing & sharing your
 photo collection.
