<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">{{ name }}</name>
    <service>
        <type>_ssh._tcp</type>
        <port>{{ port }}</port>
    </service>
    <service>
        <type>_sftp-ssh._tcp</type>
        <port>{{ port }}</port>
    </service>
</service-group>
