<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">{{ name }}</name>
{%- for service in services %}
    <service>
        <type>{{ service.type }}</type>
{%- if service.port is defined %}
        <port>{{ service.port }}</port>
{%- endif %}
{%- for txt_record in (service.txt_records | default([])) %}
        <txt-record>{{ txt_record }}</txt-record>
{%- endfor %}
    </service>
{%- endfor %}
</service-group>
