<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">{{ name }}</name>
    <service>
        <type>{{ type }}</type>
        <port>{{ port }}</port>
{%- if txtrecord is defined %}
        <txt-record>{{ txtrecord }}</txt-record>
{%- endif %}
    </service>
</service-group>
