@import 'src/styles';

@use '~@angular/material' as mat;

$mat-typography-config: mat.define-typography-config();

.mat-toolbar {
  height: 64px;

  button .mat-icon {
    color: $omv-color-primary-complementary;
  }

  .mat-divider {
    height: 24px;
    background-color: $omv-color-primary-complementary;
  }

  .omv-top-bar-brand-logo {
    margin-left: 10px;
    width: 330px;
    height: 42px;
    right: 20px;
    bottom: 20px;
    background: no-repeat 100%/100% url('/assets/images/openmediavault_logo.svg');
  }

  .omv-top-bar-hostname {
    color: $omv-color-primary-complementary;
    font-size: mat.font-size($mat-typography-config, body-1);
    font-weight: mat.font-weight($mat-typography-config, body-1);
    padding: $omv-padding;
  }
}
