@use '~@angular/material' as mat;

@import 'src/styles';

.omv-top-bar {
  height: $omv-top-bar-height;

  button .mat-icon {
    color: $omv-color-primary-complementary;
  }

  .mat-divider {
    height: 24px;
    background-color: $omv-color-primary-complementary;
  }

  .hostname {
    color: $omv-color-primary-complementary;
    font-size: mat.font-size($omv-typography-config, body-1);
    font-weight: mat.font-weight($omv-typography-config, body-1);
    padding: $omv-padding;
  }
}
