@use 'scss/defaults/variables' as dv;
@use 'scss/theme';

.omv-top-bar {
  height: dv.$omv-top-bar-height;

  button .mat-icon {
    color: theme.$omv-color-primary-contrast;
  }

  .mat-divider {
    height: 24px;
    background-color: theme.$omv-color-primary-contrast;
  }

  .hostname {
    color: theme.$omv-color-primary-contrast;
    font-size: var(--mat-font-size-body-1);
    font-weight: var(--mat-font-weight-body-1);
    padding: dv.$omv-padding;
  }
}
