@use 'scss/defaults/variables' as dv;

.mat-card {
  margin: dv.$omv-margin;
  padding: unset;

  .mat-card-header,
  .mat-card-title-group {
    padding: dv.$omv-padding;
  }

  .mat-card-header {
    padding-bottom: unset;
  }

  .mat-card-content {
    margin-bottom: unset;
  }

  .mat-card-actions {
    margin: unset;
    padding: dv.$omv-padding;
  }
}
