@use 'scss/defaults/variables' as dv;
@use 'scss/theme';

.mat-card {
  margin: dv.$omv-margin;
  padding: unset;

  .mat-card-content {
    padding: dv.$omv-padding;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
