@use 'scss/defaults/variables' as dv;
@use 'scss/theme';

.mat-card {
  margin: dv.$omv-margin;
  padding: unset;

  .mat-toolbar {
    border-top-left-radius: dv.$omv-radius;
    border-top-right-radius: dv.$omv-radius;
    color: theme.$omv-color-primary;
  }

  .mat-card-content {
    padding: dv.$omv-padding;
  }
}
