.mat-card {
  box-shadow: unset !important;
  position: relative;
  padding: unset;
  border-radius: unset;
  background: transparent;
  margin: unset;
}

omv-submit-button:not(:first-child) {
  margin-left: 8px !important;
}
