Source: openmediavault-s3
Section: net
XB-Plugin-Section: network
XB-Plugin-Architecture: amd64, arm64
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-s3
Architecture: all
Depends: openmediavault (>= 7.0), podman, catatonit
Priority: optional
Description: openmediavault S3 plugin
 A standalone high performance object storage based on MinIO.
 It is API compatible with Amazon S3 cloud storage service.
