Source: libjs-extjs4
Section: web
Priority: extra
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 9), unzip
Standards-Version: 3.9.4
Homepage: http://www.sencha.com

Package: libjs-extjs4
Architecture: all
Depends:
Description: Ext JS is a cross-browser JavaScript library for building rich internet applications.
 ExtJS is a JavaScript library for building interactive web applications using
 techniques such as Ajax, DHTML and DOM scripting.
