Source: openmediavault-md
Section: admin
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: Volker Theile <volker.theile@openmediavault.org>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-md
Architecture: all
Depends: openmediavault (>= 7.4.5), mdadm
Priority: optional
Description: openmediavault Linux MD (Multiple Device) plugin
 This plugin is used to create, manage, and monitor Linux MD (Multiple
 Device) devices.
